@model List<Advisor>

    <partial name="_JobDetail" />


    @*<div class="container-jobdetail-body">
            <div class="container-jobdetail">
                <div class="card">
                    <div class="imgBx">
                        <img src="image/astroloji.jpg" alt="">
                    </div>
                    <div class="contentBx">
                        <div class="content">
                            <h2></h2>
                            <p>

                            </p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

