@model Advisor


    <div class="container-fluid">
        <div class="d-flex justify-content-between">
            <div class="advisor-nav">
                <div class="advisor-img"></div>
            </div>
        </div>
    </div>


