<footer>
    <div class="container mt-2 d-flex flex-column justify-content-center w-50 mx-auto">
        <div class="d-flex justify-content-between w-75 text-center mx-auto">
            <a class="text-decoration-none text-black">Hakkımızda</a>
            <a class="text-decoration-none text-black">Kullanım Şartları</a>
            <a class="text-decoration-none text-black">Gizlilik</a>
            <a class="text-decoration-none text-black">İletişim</a>
        </div>

        <div class="d-flexjustify-content-center w-50 text-center mx-auto mt-4">
            <i class="fa-brands fa-facebook facebook fs-2 me-3"></i>
            <i class="fa-brands fa-twitter-square twitter fs-2 me-3"></i>
            <i class="fa-brands fa-instagram instagram fs-2 me-3"></i>
            <i class="fa-brands fa-linkedin-in linkedin fs-2 me-3"></i>
            <i class="fa-brands fa-youtube youtube fs-2"></i>
        </div>
        <div class="d-flex justify-content-between text-center mx-auto mt-3">
            <i class="fa-brands fa-cc-mastercard fs-1 me-2"></i>
            <i class="fa-brands fa-cc-visa fs-1"></i>
        </div>
        <div class=" d-flex  justify-content-center w-100 text center mt-3">
            <p class="text center footer-text">© 2018 - 2021 Bu sitenin tüm kullanımı ve servisleri Kullanım Sözleşmesi ve Gizlilik Politikası çerçevesindedir.</p>
        </div>

    </div>
</footer>