<header>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/resim.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="slider-yazi display-3 fw-bolder">10 Kredi Bedava!</h3>
                    <p>Şimdi hemen üye olun bedava 10 kredi kazanın.</p>
                    <button class="slider-buton">Hemen Üye Ol</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/resim1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="slider-yazi display-3 fw-bolder">Kişiye Özel Online Danışmanlık Hizmetleri</h3>
                    <p>Konusunda en iyi uzmanlardan online danışmanlık alın.</p>
                    <button class="slider-buton">Hemen Danışın</button>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/img/resim2.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="slider-yazi display-3 fw-bolder">Online Psikologlar İle Evinizde Terapi</h3>
                    <p>Şimdi başlayın ve avantajlardan yararlanın.</p>
                    <button class="slider-buton">Hemen Başlayın</button>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</header>