<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col">
            <div class="card border-0" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title text-center homepage-ınfo">Online Danışmanınızı Bulun</h3>
                    <h6 class="text-center mt-4"><i class="fa-solid fa-magnifying-glass fs-1 homepage-ınfo"></i></h6>
                    <p class="card-text text-center mt-3">
                        Bilgi almak istediğiniz alanlarla ilgili uzmanların
                        profillerini
                        detaylı
                        inceleyin, size en uygun online danışmanları bulun.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col">
            <div class="card border-0" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title text-center homepage-ınfo">Bilgileriniz Güvende</h3>
                    <h6 class="text-center mt-4"><i class="fa-solid fa-lock fs-1 homepage-ınfo"></i></h6>
                    <p class="card-text text-center mt-3">
                        Danışman.com’da paylaştığınız kişisel bilgilerinizin
                        güvende olduğundan ve 3.şahıslarla paylaşılmadığından emin olabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col">
            <div class="card border-0" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title text-center homepage-ınfo">Online Danışmana Sorun</h3>
                    <h6 class="text-center mt-4"><i class="fa-solid fa-headset fs-1 homepage-ınfo"></i></h6>
                    <p class="card-text text-center mt-3">
                        Danışmanya.com uzmanlarıyla istediğiniz an yazılı,
                        görüntülü veya sesli iletişime geçin, en hızlı ve doğru cevaplara anında veya 24 saat
                        randevu sistemi ile ulaşın.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>