@model Advisor

    <div class="container-jobdetail-body">
        <div class="container-jobdetail">
            <div class="card">
                <div class="imgBx">
                    <img src="@Model.Job.JobImg" alt="">
                </div>
                <div class="contentBx">
                    <div class="content">
                        <h2>@Model.Job.JobName</h2>
                        <p>@Model.Category.CategoryDescription</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
