
@{
    ViewData["Title"] = "UserAccount";
    Layout = "~/Views/Shared/_HesabımLayout.cshtml";
}

@model UserDetailsModel
<div class="container">

    <h5 class="display-4">Hesap Bilgilerim</h5>
    <hr />
    <form asp-controller="MyAccount" asp-action="UserAccount" method="post">
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-md-8">

                <div class="form-group row mb-2">
                    <label class="col-form-label col-sm-3">Ad:</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="FirstName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-form-label col-sm-3">Soyad:</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="LastName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-form-label col-sm-3">Kullanıcı Adı:</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="UserName" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label class="col-form-label col-sm-3">Email:</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Email" class="form-control" />
                    </div>
                </div>

                <div class="form-group row mb-2">
                    @*<input type="hidden" name="UserId" value="@Model.UserId" />*@
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>

