@model Advisor

<div class="container">
    <form asp-controller="Admin" asp-action="AdvisorEdit" method="post">


        <div class="w-25">
            <label>Başarı oranı: </label> <br />
            <input class="form-control" asp-for="SuccessRate" type="text" />
        </div>



        <label> Onaylı Olma Durumu</label>
        @if (Model.IsApproved)
        {
            <div class="mt-2">
                <label class="me-5">Onaylı </label>
                <input class="form-check-input" asp-for="IsApproved" type="checkbox" checked />

            </div>
        }
        else
        {
            <div class="mt-2">
                <label class="me-5">Onaylı Değil</label>
                <input class="form-check-input" asp-for="IsApproved" type="checkbox" />
            </div>
        }
        <input type="hidden" name="AdvisorId" value="@Model.AdvisorId" />
        <button type="submit" class="btn btn-light">Değişiklikleri Kaydet</button>
    </form>
</div>
